nav{
  font-family: 'ubuntu', sans-serif;
  display: flex;
  padding: 25px 50px;
  color: white;

  .title{
    width: 50%;

    h1{
      font-weight: 700;
      font-size: 32px;
    }
  }
  
  .navigation{
    width: 50%;

    ul{
      display: flex;
      justify-content: end;

      li{
        list-style: none;
        padding: 0px 10px;
        font-size: 22px;
      }

      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}